
/*beggining of header area*/
#picture{
height:180px;
width:300px;
display:block;
margin:auto;


}
header{

text-align: center;
    
}
/*end of header area*/


/*beggining of input area*/ 
#knight{
    position:fixed;
    left:600px; 

     


  
    
}

#dragon {

margin-right:20px;
    
    
}
/*beggining of input area*/ 


#whore{
    color:white;

}