
/*beggining of header area*/
#picture{
height:180px;
width:300px;
display:block;
margin:auto;


}
header{

text-align: center;
    
}
/*end of header area*/


/*beggining of input area*/ 
#knight{
    position:fixed;
    left:550px; 

  
    
}

#dragon {
position:fixed;
left:800px;
    
    
}
/*beggining of input area*/ 


#whore{
    color:white;

}